In [46]:
import pandas as pd
import json

labels = ["Country", "New Cases Per Million", "New Deaths Per Million", "New Cases", "New Deaths"]

df = pd.read_csv("perMillion.csv", names=labels)
df = df.iloc[1:]

df["New Cases Per Million"] = df["New Cases Per Million"].astype(float)
df["New Deaths Per Million"] = df["New Deaths Per Million"].astype(float)
df["New Cases"] = df["New Cases"].astype(float)
df["New Deaths"] = df["New Deaths"].astype(float)
 

df = df.groupby(df["Country"]).sum()

       0
0      1
1      2
2      3
3      4
4      5
..   ...
303  304
304  305
305  306
306  307
307  308

[308 rows x 1 columns]

In [26]:
df[["New Cases Per Million", "New Cases"]]

                        New Cases Per Million  New Cases
Country
Albania                              1225.936     3528.0
Austria                              5741.915    51714.0
Belarus                               802.915     7587.0
Belgium                              2885.255    33439.0
Bosnia and Herzegovina               2952.925     9688.0
Bulgaria                             3302.898    22950.0
Croatia                              4175.123    17140.0
Cyprus                               1347.187     1180.0
Czech Republic                       4389.680    47009.0
Denmark                              1182.279     6848.0
Estonia                               915.918     1215.0
Faeroe Islands                         40.929        2.0
Finland                               309.888     1717.0
France                               3154.328   205894.0
Germany                              1575.457   131998.0
Greece                               1698.254    17701.0
Hungary                              3244.706    31345.0
Iceland                               360.438      123.0
Ireland                               540.930     2671.0
Isle of Man                            70.563        6.0
Italy                                4003.551   242062.0
Kosovo                               2685.777     5191.0
Latvia                               1246.420     2351.0
Liechtenstein                        5375.356      205.0
Lithuania                            3918.760    10668.0
Luxembourg                           5511.393     3450.0
Macedonia                            3494.321     7280.0
Malta                                1988.499      878.0
Moldova                              1759.311     7097.0
Montenegro                           6857.603     4307.0
Netherlands                          2218.458    38013.0
Norway                                738.022     4001.0
Poland                               4478.023   169478.0
Portugal                             3699.823    37726.0
Romania                              2920.622    56186.0
Russia                               1023.863   149417.0
Serbia                               3005.469    20451.0
Slovakia                             2179.629    11900.0
Slovenia                             4738.491     9851.0
Spain                                2775.310   129759.0
Sweden                               2049.752    20701.0
Switzerland                          5202.540    45026.0
Ukraine                              1697.589    74242.0
United Kingdom                       2547.137   172915.0

In [27]:
df[["New Deaths Per Million", "New Deaths"]]

                        New Deaths Per Million  New Deaths
Country
Albania                                 19.111        55.0
Austria                                 34.532       311.0
Belarus                                  3.703        35.0
Belgium                                108.803      1261.0
Bosnia and Herzegovina                 111.863       367.0
Bulgaria                                66.057       459.0
Croatia                                 61.871       254.0
Cyprus                                  13.700        12.0
Czech Republic                         128.584      1377.0
Denmark                                  2.936        17.0
Estonia                                  5.277         7.0
Faeroe Islands                           0.000         0.0
Finland                                  1.263         7.0
France                                  62.459      4077.0
Germany                                 14.275      1196.0
Greece                                  27.440       286.0
Hungary                                 68.216       659.0
Iceland                                 20.512         7.0
Ireland                                  6.684        33.0
Isle of Man                             11.760         1.0
Italy                                   59.873      3620.0
Kosovo                                  33.630        65.0
Latvia                                  13.253        25.0
Liechtenstein                           26.221         1.0
Lithuania                               23.142        63.0
Luxembourg                              54.317        34.0
Macedonia                               82.080       171.0
Malta                                   52.090        23.0
Moldova                                 28.508       115.0
Montenegro                              82.795        52.0
Netherlands                             28.130       482.0
Norway                                   1.660         9.0
Poland                                  63.652      2409.0
Portugal                                44.818       457.0
Romania                                 53.022      1020.0
Russia                                  17.699      2583.0
Serbia                                  16.018       109.0
Slovakia                                29.122       159.0
Slovenia                                58.683       122.0
Spain                                   41.408      1936.0
Sweden                                   5.148        52.0
Switzerland                             63.781       552.0
Ukraine                                 27.346      1196.0
United Kingdom                          42.396      2878.0

In [29]:
df.keys.tolist()

AttributeError: 'function' object has no attribute 'tolist'